<link rel="stylesheet" href="https://gitcdn.link/cdn/StartBootstrap/startbootstrap-sb-admin-2/master/css/sb-admin-2.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
<link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='theme.css')}}">


<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background: var(--navbar-background);">

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="index.html"><span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="#"><span>Search</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">Playlists</div>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="#"><span>Playlist 1</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="#"><span>Playlist 2</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" style="background: var(--header-background);">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-dark topbar mb-4 static-top shadow" 
                    style="background: var(--header-background); height: 75px;">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control border-0 px-3 py-2" placeholder="Search"
                                aria-label="Search" aria-describedby="basic-addon2" style="background: var(--navbar-background);">
                            <!--<div class="input-group-append" style="background: var(--header-background);">
                                <button class="btn btn-primary border-0" type="button" style="background: var(--header-background);">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>-->
                        </div>
                    </form>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-light">Results</h1>
                    </div>

                    <!-- Content Row -->
                    <!-- <div class="row">

                        {% for video in videos %}
                            <div class="col-xl-3 col-md-6 mb-4">
                                <a href="{{ video.url_ }}" target="_blank">
                                    <div class="card border-left-primary h-100 py-2" 
                                        style="background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,1)), url({{ video.thumbnail_ }});">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ video.title_ }}</div>
                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ video.channel_ }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %} 

                    </div> -->

                    {% for video in videos %}
                        <ul class="list-group flush">
                            <div class="py-3 px-1">
                                <a href="{{ video.url_ }}" target="_blank">
                                    <li class="list-group-item" style="background: #111 !important;">
                                        <div class="h5 mb-0 font-weight-bold text-light">{{ video.title_ }}</div>
                                        <div class="text-xs font-weight-bold text-gray-400 text-uppercase mb-1">{{ video.channel_ }}</div>
                                    </li>
                                </a>
                            </div>
                        </ul>
                    {% endfor %}
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Spotify Clone</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script src="https://gitcdn.link/cdn/StartBootstrap/startbootstrap-sb-admin-2/master/vendor/jquery/jquery.min.js"></script>
    <script src="https://gitcdn.link/cdn/StartBootstrap/startbootstrap-sb-admin-2/master/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="https://gitcdn.link/cdn/StartBootstrap/startbootstrap-sb-admin-2/master/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="https://gitcdn.link/cdn/StartBootstrap/startbootstrap-sb-admin-2/master/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="https://gitcdn.link/cdn/StartBootstrap/startbootstrap-sb-admin-2/master/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="https://gitcdn.link/cdn/StartBootstrap/startbootstrap-sb-admin-2/master/js/demo/chart-area-demo.js"></script>
    <script src="https://gitcdn.link/cdn/StartBootstrap/startbootstrap-sb-admin-2/master/js/demo/chart-pie-demo.js"></script>

</body>
</html>